.idea/
.data/
tmp/
.env
node_modules/
src/types
generated

build/
bin/
.DS_Store
coverage/
coverage.json

hardhat.config.ts
truffle-config.js

*.log
!deployments/*.log
*~
*.swp

typechain
yarn.lock
package-lock.json
.privatekey.ts
*-e

